/* ****************** SETUP SNIPPET CSS ****************** */

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ****************** CUSTOM PROJECT CSS ****************** */

/* General styles */
:root {
  --color-primary: #272343;
  --color-primary-dark: #00001d;
  --color-primary-light: #514b6e;

  --color-secondary: #bae8e8;
  --color-secondary-dark: #89b6b6;
  --color-secondary-light: #edffff;

  --color-light-1: #ffffff;
  --color-light-2: #e3f6f5;

  --color-neutral: #f0f5f9;
}

body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: var(--color-neutral);
}

.hide {
  display: none;
}

.wrapper {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0px auto;
}

td {
  padding: 5px;
  font-size: 0.8rem;
}

th {
  padding: 5px;
  font-size: 0.8rem;
  vertical-align: bottom;
}

/* *************************************** */
/******************* Navbar ****************/
/* *************************************** */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  padding: 0px 30px;
  height: 4rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo-container > a {
  color: var(--color-secondary);
  list-style: none;
  text-decoration: none;
}

.logo-container > a:visited {
  color: var(--color-secondary);
  list-style: none;
  text-decoration: none;
}

.logo {
  color: var(--color-secondary);
  font-size: 2rem;
}

.links-container {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  width: 40%;
  min-width: 300px;
  max-width: 500px;
}

.navbar-link {
  list-style: none;
}

.navbar-link > a {
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 1rem;
}

.navbar-link > a:visited {
  color: var(--color-secondary);
}

/* *************************************** */
/************** Header / landing ***********/
/* *************************************** */
.header {
  margin: 0px auto;
}

.hero-landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-secondary);
  width: 80%;
  line-height: 1.2;
  text-align: center;
}

h2 {
  width: 60%;
  color: var(--color-secondary-dark);
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
}

/* *************************************** */
/************** Scrollbar styles **************/
/* *************************************** */

/* Whole scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-light-1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary-dark);
}

/* *************************************** */
/************** Step 1 styles **************/
/* *************************************** */
.investment-container {
  width: 100%;
  font-size: 2rem;
  margin: 30px 0;
  background-color: var(--color-light-1);
  padding: 30px;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: "Montserrat", sans-serif;
}

.investment-label {
  display: block;
  margin: 10px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.investment-input {
  border-radius: 5px;
  border: 2px solid var(--color-secondary-dark);
  width: 100%;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  display: block;
}

/* *************************************** */
/************** Step 2 styles **************/
/* *************************************** */
/* Search bar */
.search-container {
  width: 100%;
  font-size: 2rem;
  margin: 30px 0px;
  background-color: var(--color-light-1);
  padding: 30px;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: "Montserrat", sans-serif;
}

.investment-selection-header {
  display: block;
  margin: 10px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.search-bar-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.search-bar-container {
  width: 48%;
}

.search-result-container {
  position: absolute;
  padding: 10px 0px;
  margin: 0 5px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 1rem;
  width: 48%;
  font-weight: 500;
  background-color: var(--color-secondary);
  z-index: 10;
}

.search-result-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2.5px 5px;
  height: 50px;
  color: var(--color-primary);
}

.search-result-row:hover {
  background-color: var(--color-secondary-light);
  cursor: pointer;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  padding: 10px 70px 10px 15px;
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  font-size: 1rem;
  background-color: var(--color-secondary);
}

.search-input:focus {
  outline: 0;
  border-width: 2px solid;
  border-color: var(--color-secondary-dark);
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: -70px;
}

.vertical-row {
  height: 20px;
  width: 1px;
  margin: 0px 5px;
  background-color: var(--color-primary);
}

.search-btn,
.reset-btn,
.add-btn,
.remove-btn {
  height: 25px;
  width: 25px;
  padding: 5px;
  background-color: transparent;
  border: none;
}

.search-btn,
.reset-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn,
.remove-btn {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.search-result-row:hover > .add-btn {
  background-color: #95e1d3;
  cursor: pointer;
}

.search-result-row:hover > .remove-btn {
  background-color: #f38181;
  cursor: pointer;
}

.reset-icon,
.search-icon,
.add-icon {
  color: var(--color-primary);
  font-size: 1rem;
  width: 100%;
  height: 100%;
}

.search-btn:hover,
.reset-btn:hover {
  background-color: var(--color-light-2);
  color: var(--color-primary-light);
  border-radius: 5px;
  cursor: pointer;
}

.result-symbol {
  font-weight: 700;
  width: 40%;
}

.result-name {
  font-size: 1rem;
  width: 55%;
  text-align: right;
  word-wrap: wrap;
}

/* Investments selected */
.selections-container {
  /* margin: 15px 0; */
  width: 49%;
  padding: 0px;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.selection {
  background-color: var(--color-primary);
  display: inline-block;
  border-radius: 10px;
  padding: 10px 15px;
  position: relative;
  margin: 2.5px;
  max-width: 15%;
  min-width: 110px;
  overflow-wrap: break-word;
}

.selected-ticker {
  font-weight: 700;
  padding: 0;
  margin: 0 0 5px 0;
  color: var(--color-secondary-dark);
}

.selected-company {
  color: var(--color-light-2);
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

.remove-selection-btn {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 25px;
  width: 25px;
  padding: 5px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}

.remove-selection-icon {
  color: var(--color-secondary-dark);
  font-size: 1rem;
  width: 100%;
  height: 100%;
}

.remove-selection-btn:hover,
.remove-selection-btn:hover > .remove-selection-icon {
  color: var(--color-primary-dark);
  background-color: var(--color-secondary);
  border-radius: 5px;
  cursor: pointer;
}

/* *************************************** */
/************** Step 3 styles **************/
/* *************************************** */
/* Portfolio table styles */
.portfolio-container {
  width: 100%;
  font-size: 1rem;
  margin: 30px 0px;
  background-color: var(--color-light-1);
  padding: 30px;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: "Montserrat", sans-serif;
}

.portfolio-table {
  padding: 0px;
  /* width: 100%; */
}

.portfolio-headings {
  text-align: left;
  color: var(--color-secondary-dark);
}

/* .portfolio-headings-ticker {
  width: 20%;
}

.portfolio-headings-company {
  width: 40%;
}

.portfolio-headings-cost {
  width: 20%;
}

.portfolio-headings-target-allocation {
  width: 20%;
} */

.spacer {
  height: 10px;
}

.portfolio-input {
  border-radius: 5px;
  border: 1px solid var(--color-secondary-dark);
  width: 100%;
  padding: 5px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.ticker {
  border: 1px solid var(--color-secondary-dark);
  padding: 5px;
  border-radius: 5px;
  background-color: var(--color-secondary);
  font-weight: 700;
}

.rebalance-btn {
  width: auto;
  padding: 10px;
  margin-top: 20px;
  margin-right: 1.2%;
  float: right;
  font-weight: 700;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.rebalance-btn:hover,
.rebalance-btn:focus {
  background-color: var(--color-secondary-dark);
  border: 2px solid var(--color-secondary-dark);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

/* ******************************************* */
/************** Overall results **************/
/* ******************************************* */
.rebalance-header {
  /* background-color: var(--color-secondary); */
  display: inline-block;
  color: var(--color-light-1);
  padding: 10px;
  border-radius: 5px;
}
/* .overall-results-container {
  width: 100%;
  font-size: 1rem;
  margin: 0px 0px 30px;
  background-color: var(--color-secondary);
  padding: 30px;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: "Montserrat", sans-serif;
  text-align: left;
} */

.results-wrapper {
  width: 100%;
  font-size: 1rem;
  margin: 30px 0px 0px;
  padding: 30px;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-primary);
  color: var(--color-light-1);
}

.results-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
}

.result-title {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 1.3rem;
  margin: 10px 0;
}

.result-value {
  font-size: 2.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.result-symbol {
  font-size: 1.3rem;
  width: auto;
  margin: 5px;
}

.result-name {
  font-size: 0.8rem;
}

/* ******************************************* */
/************** Rebalance results **************/
/* ******************************************* */
/* Refactor this with portfolio-container */
.rebalance-container {
  width: 100%;
  font-size: 1rem;
  margin: 0px 0px 30px;
  background-color: var(--color-secondary);
  padding: 30px;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

.rebalance-table {
  padding: 0px;
}

.rebalance-headings {
  color: var(--color-primary);
}

/* .rebalance-ticker {
  width: 10%;
}

.rebalance-company {
  width: 30%;
}

.rebalance-qty,
.rebalance-investment,
.rebalance-incremental,
.rebalance-value,
.rebalance-price,
.rebalance-target-alloc,
.rebalance-expected-alloc {
  width: 10%;
} */

/* *************************************** */
/************** Media queries **************/
/* *************************************** */
@media (max-width: 850px) {
  .investment-container {
    width: 100%;
  }

  .search-container {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .search-bar-container {
    width: 100%;
  }
  .selections-container {
    width: 100%;
  }
}
